/* Background Overlay */
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('MMFC-LOGO-GOLD.png'); /* Update path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.5; /* Adjust opacity as needed */
}

/* Logo Container */
.logo-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 10; /* Ensure the logo is above the background overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px; /* Adjust height as needed */
  background-color: #f0f0f0; /* Light gray background */
  padding: 10px; /* Add some padding */
  border-radius: 10px; /* Rounded corners */
}

/* Logo Styling */
.logo {
  max-width: 100%; /* Ensure the logo does not exceed the container width */
  max-height: 100%; /* Ensure the logo does not exceed the container height */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: contain; /* Ensures the logo maintains its aspect ratio */
}

/* Toast Notification */
.toast {
  display: none;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #10B981; /* Green */
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  animation: fadeInDown 0.5s ease-out;
  z-index: 20; /* Ensure toast is above everything */
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
